.page {
  min-height: 100vh;

  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  width: 100%;
  max-width: 840.2px;
  min-height: 500.5px;

  background-color: #ff3131;
  border: 10px solid #ad1b45;
  box-shadow: 14px 15px #ad1b45;
  border-radius: 57px;
}

.mainContent {

}

.footer {

}

.footer a {

}

/* MOBILE */